@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    background: -webkit-gradient(linear, left top, left bottom, from(#3abfe875), to(rgb(255, 255, 255))) fixed;
    background-repeat: inherit;
  }
  nav{
    position: fixed;
    top: 0px;
    background-color: #7cd1c4;
    height: 50px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    font-family: 'Shizuru', cursive;
    line-height: 35px;
    padding: 0 100px;
    font-weight: bold;
    cursor: pointer;
  }
  nav ul{
    float: right;
    margin-right: 100px;
  }
  nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 10px;
  }
  nav ul li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
}
li .sign-btn-style{
    background-color: #e77f92;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
}
li a.active{
    color: rgb(206, 114, 114);
    font-weight: bold;
    font-size: 19px;
    border-radius: 5px;
}
li a:hover:not(.active){
    color: black;
    font-size: 19px;
}
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 1015px){
    label.logo{
      font-size: 28px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 920px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: auto;
      background: #97e5e5;
      top: 50px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 20px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
        
    li a.active{
        color: rgb(206, 114, 114);
        font-weight: bold;
        font-size: 26px;
        border-radius: 5px;
    }
    li a:hover:not(.active){
        color: black;
        font-size: 19px;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  @media (min-width: 920px){
      .footer-col1{
          padding-left: 100px;
      }  
      .footer-col4{
          padding-left: 100px;
      }
      .footer-col3{
          padding-left: 100px;
      }
  }
#container{
    /* background-color: blue; */
    margin: 70px 100px;
    text-align: center;
}
.title-style{
    color: #854752;
    font-size: 31px;
    letter-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 30px;
}
.subtitle{
    color: #7e7b7b;
    margin-top: 3px; 
    margin-bottom: 15px;
    letter-spacing: 5px;
}

.description{
    color: #585555;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.8;
    margin-top: 15px;
    margin-bottom: 40px;
}
.image{
    margin-top: 15px;
    margin-bottom: 5px;
    width: 200px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
}

.btn{
    display: inline-block;
    font-size: 20px;
    color: #f36982;
    font-weight: bold;
    background-color: rgb(219, 213, 213);
    padding: 15px 0px;
    text-decoration: none;
    border-radius: 10px;
    width: 200px;
    text-align: center;

}
.btn:hover{
    color: white;
    background-color: #e77f92;
}
hr{
    border: 1px solid  #e77f92;
    width: 100px;
    margin: 10px auto;
    
}

/* Footer */
.row{
	display: flex;
	flex-wrap: wrap;
    
}
.footer{
	background-color: #7cd1c4;
    padding: 10px 0;
}
.footer-col1{
   width: 25%;
}
.footer-col2{
    width: 20%;
}
.footer-col3{
    width: 20%;
}
.footer-col4{
    width: 35%;
}
.footer-col1 p, .footer-col2 p, .footer-col3 h4, .footer-col4 .social-links a{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 0px;
	font-weight: 500;
	position: relative;
}

.footer-col4 .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col4 .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 900px){
.row{
    display: flex;
    flex-direction: column;
}
.footer-col1, .footer-col2, .footer-col3, .footer-col4{
    padding-left: 20px;
    width: 100%;
}

}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




