body{
    font-family: sans-serif;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#3abfe875,rgb(230, 224, 224));
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
    grid-template-rows: minmax(2em, auto) 1fr minmax(1em, auto);
    row-gap: 30px;
    column-gap: 15px;
    min-height: 100vh;
    width: 100%;
}
.footer{
    margin: 0px;
    padding: 10px;
    background-color: #7cd1c4;
    grid-column: span 8;
    width: 100%;
}
.grid-navbar {
    grid-column: span 8;
}
.grid-left{
    grid-column: 2/5;
    text-align: center;
    display: grid;
    align-content: center;  
}
.grid-right{
    grid-column: 5/8;
}
p, h1 {
    margin-top:0px;
    margin-bottom: opx;
    padding-bottom: 0px;
    padding-top: 0px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #7cd1c4
}
@media only screen and (max-width: 600px) {
    
  }
ul{
    display: block;
    list-style-type: none;
    padding: 0px;
    margin: 0px 180px;
}
li{
    float: left;
    padding: 10px 30px;  
}

li a{
    text-decoration: none;
    color: White;
    font-weight: bold;
    font-size: 20px;
}
.sign-style{
    float: right;
    margin-right:40px;
    margin-top: 2px;
}
li .sign-btn-style{
    background-color: #e77f92;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
}
li a.active{
    color: rgb(206, 114, 114);
    font-weight: bold;
    
    font-size: 22px;
    padding: 8px 20px;
    border-radius: 5px;
}
li a:hover:not(.active){
    color: black;
    font-size: 22px;
}
.hello-style{
    padding: 0px 0px 30px 0px;
    color: #585555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.title-style{
    color: #FC4364;
    font-size: 31px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.description{
    color: #585555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 1.8;
}
.grid-right img{
    display: block;
    width: 80%;
    border-radius: 20%;
    position:relative;
    left: 60%; 
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-1{
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color:#6A9EEC;
    color: #FFFFFF;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: none;
}
.btn-2{
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color:#6A9EEC;
    color: #FFFFFF;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: none;
}
.btn-1:hover,.btn-2:hover{
    color: #6A9EEC;
    background-color: #FFFFFF;
}
.summary div{
    display: inline-block;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #585555;
    
}
.summary p{
    padding: 0px;
    margin: 0px;
}
.num-style{
   color: #0D4BA9;
   font-size: 30px;
}
.sub-style{
    font-size: 13px;
}
.footer-content{
    margin: 0px 220px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.footer .footer-content .social a {    
        font-size: 20px;
        margin: 10px;
        color: rgb(8, 8, 8);
        overflow: none;

    
}
