<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label onclick="document.location='index.html'" class="logo">johnN</label>
      <ul>
        <li><a href="../Home/index.html">Home</a></li>
        <li><a href="../About/about.html" class="active">About</a></li>
        <li><a href="../blogPage/blog.ejs">My Blog</a></li>
        <li><a href="../Contact Us/contact.html">Contact Us</a></li>
        <li class="sign-style"><a href="../Login/login.html" class="sign-btn-style">Login</a></li>
      </ul>
    </nav>
    <div id="container">
        <h3 class="title-style">My name is John Niyontwali</h3>
        <hr>
            <h4 class="subtitle">Am a JavaScript Fullstack Developer</h4>
            <div>
                <img class="image" src="/img/Image-banner.jpg" alt="My Profile picture"> 
            </div>
            <p class="description">My life’s mission is to enhance my professional software<br>
                 engineering skills  and help business build <br>
                 scalable web  applications to <br>
                  in their business services </p>
                  <p class="description">My life’s mission is to enhance my professional software<br>
                    engineering skills  and help business build <br>
                    scalable web  applications to <br>
                     in their business services </p>              
            <a class="btn" href="mailto:nijohn0006@gmail.com">Contact me</a>
    </div>
    <footer class="footer">
            <div class="row">
                <div class="footer-col1">
                    <p>&copy; John Niyontwali</p>
                </div>
                <div class="footer-col2">
                    <p>Contact us on: <br> +250781161254</p>
                </div>
                <div class="footer-col3">
                    <h4>follow me on:</h4>
                </div>
                <div class="footer-col4">
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
   </footer>
 
  </body>
</html>