@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    background: -webkit-gradient(linear, left top, left bottom, from(#3abfe875), to(rgb(255, 255, 255))) fixed;
    background-repeat: inherit;
  }
  nav{
    position: fixed;
    top: 0px;
    background-color: #7cd1c4;
    height: 50px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    font-family: 'Shizuru', cursive;
    line-height: 35px;
    padding: 0 100px;
    font-weight: bold;
    cursor: pointer;
  }
  nav ul{
    float: right;
    margin-right: 100px;
  }
  nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 10px;
  }
  nav ul li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
}
li .sign-btn-style{
    background-color: #e77f92;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
}
li a.active{
    color: rgb(206, 114, 114);
    font-weight: bold;
    font-size: 19px;
    border-radius: 5px;
}
li a:hover:not(.active){
    color: black;
    font-size: 19px;
}
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 1015px){
    label.logo{
      font-size: 28px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 920px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: auto;
      background: #97e5e5;
      top: 50px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 20px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
        
    li a.active{
        color: rgb(206, 114, 114);
        font-weight: bold;
        font-size: 26px;
        border-radius: 5px;
    }
    li a:hover:not(.active){
        color: black;
        font-size: 19px;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  @media (min-width: 920px){
      .footer-col1{
          padding-left: 100px;
      }  
      .footer-col4{
          padding-left: 100px;
      }
      .footer-col3{
          padding-left: 100px;
      }
  }

/* End of the navbar style */

/* Start of content */
.form-container{
    margin: 60px;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background: linear-gradient(#3abfe875,rgb(230, 224, 224)); */
}
.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
  font-size: 25px;
  font-weight: 600;
  position: relative;
  margin-left: 5px;
}
.container form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: 45%;
  margin-right: 15px;
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color:;
}
.user-details small{
  color: red;
  position: absolute;
  padding-bottom: 10px;
  visibility: hidden;
}
.user-details .input-box.success input{
  border: 2px solid #2bc2ec;
  border-bottom-width: 3px;
}
.user-details .input-box.error input{
  border: 2px solid rgb(187, 53, 104);
  border-bottom-width: 3px;
}
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #86ddc0);
 }
 
 form .button input:hover{
  background: linear-gradient(-135deg, #71b7e6, #86ddc0);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
} 
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
    
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
/* End of content */

/* Start of Footer */
.row{
	display: flex;
	flex-wrap: wrap;
    
}
.footer{
	background-color: #7cd1c4;
    padding: 10px 0;
}
.footer-col1{
   width: 25%;
}
.footer-col2{
    width: 20%;
}
.footer-col3{
    width: 20%;
}
.footer-col4{
    width: 35%;
}
.footer-col1 p, .footer-col2 p, .footer-col3 h4, .footer-col4 .social-links a{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 0px;
	font-weight: 500;
	position: relative;
}

.footer-col4 .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col4 .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 900px){
.row{
    display: flex;
    flex-direction: column;
}
.footer-col1, .footer-col2, .footer-col3, .footer-col4{
    padding-left: 20px;
    width: 100%;
}

}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/* End of Footer Style */



