<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <!-- Navbar starts..... -->
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label onclick="document.location='../Home/index.html'" class="logo">johnN</label>
      <ul>
        <li><a href="../Home/index.html" class="active">Home</a></li>
        <li><a href="../About/about.html">About</a></li>
        <li><a href="../Blog/blog.html">My Blog</a></li>
        <li><a href="../Contact Us/contact.html">Contact Us</a></li>
        <li class="sign-style"><a href="../Login/login.html" class="sign-btn-style">Login</a></li>
      </ul>
    </nav>
    <!-- Navbar ends..... -->

    <!-- Main content starts..... -->
    <div id="container">
        <div class="left-content">
            <div class="hello-style"> < Hello > </div>
            <h1 class="title-style">My name is John Niyontwali</h1>
            <p class="description">My life’s mission is to enhance my professional software <br> engineering skills and help business build scalable web  applications <br> to facilitate in their business services </p>
            <div class="summary">
                <div>
                   <p class="num-style">2</p>
                   <p class="sub-style">Years of Experience</p>
                </div>
                <div>
                    <p class="num-style">5</p>
                    <p class="sub-style">Projects</p>
                 </div>
                 <div>
                    <p class="num-style">10</p>
                    <p class="sub-style">Crush Courses</p>
                 </div>
            </div>
            <div class="but-section">
                <div>
                    <button class="btn-1" onclick="document.location='mailto:nijohn0006@gmail.com'">Hire Me!</button>
                </div>
                <div>
                    <button class="btn-2" onclick="document.location='../SignUp/Sign_Up.html'">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="right-content">
            <img src="../Images/Image-banner.jpg" class="prof-style" alt="My Profile Pic - John N">
        </div>
    </div>
    <!-- Main content ends.... -->

    <!-- Footer begins.... -->
    <footer class="footer">
            <div class="row">
                <div class="footer-col1">
                    <p>&copy; John Niyontwali</p>
                </div>
                <div class="footer-col2">
                    <p>Contact us on: <br> +250781161254</p>
                </div>
                <div class="footer-col3">
                    <h4>Email me on:</h4>
                    <h4>nijohn0006@gmail.com</h4>
                </div>
                <div class="footer-col4">
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
   </footer>
   <!-- Footer ends... -->
 
  </body>
</html>